<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Login page</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Login page</h1>-->
<!--&lt;!&ndash;<p th:if="${param.error}" class="error">Wrong user or password</p>&ndash;&gt;-->
<!--<form th:action="@{/login.html}" method="post">-->
<!--    <label for="username">Username</label>:-->
<!--    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />-->
<!--    <label for="password">Password</label>:-->
<!--    <input type="password" id="password" name="password" /> <br />-->
<!--    <input type="submit" value="Log in" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login page </title>
</head>
<body>
<h1> Login page</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="POST">
    <label for="username"> Username : </label>
    <input type="text" id="username" name="username"autofocus="autofocus" /> <br />
    <label for="password"> Password:</label>
    <!--    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />-->
    <input type="password" id="password" name="password"autofocus="autofocus" /> <br />
    <div><input type="submit" value="Sign In"/></div>
</form>
<a href="/registration">Add new user</a>
<a href="/">EXIT</a>
</body>
</html>